* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  /* background: #ffff; */
  background: #e5e5e5;
  min-height: 100vh;
}

.container {
  display: flex;
  background: #ffff;
  flex: 1;
  border-radius: 0vw 0vw 0vw 30vw;
  flex-direction: column;
  background-image: url("images/header-shapes-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  min-height: 100vh;
}

a:link {
  text-decoration: none;
}

ul {
  list-style: none;
}

.topnav {
  align-items: center;
  padding: .2em;
}

.navi ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  padding: .5rem;
}

.navi a {
  text-decoration: none;
  color: #6070ff;
  font-weight: 700;
}

.logo img {
  border: 2px solid;
  height: 60px;
  border-radius: 50%;
}

.intro {
  margin-top: 206px;
  padding: 20px;
}

h1 {
  height: 150px;
  width: 327px;
  left: 24px;
  top: 114px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172B4D;
  margin-bottom: 10px;
}

.intro p {
  height: 146px;
  width: 327px;
  left: 24px;
  top: 276px;
  margin-bottom: 10px;
}

.con {
  height: 24px;
  width: 117px;
  left: 0px;
  top: 0px;
}

.socials {
  display: flex;
  align-items: flex-start;
  width: 95%;
  padding-top: 5px;
  list-style: none
}

.socials li {
  display: flex;
  padding: 20px;
  align-self: flex-start;
  margin-left: -16px;
}

.socials a {
  text-decoration: none;
  color: #6070ff;
  font-weight: 700;
}
